# Godot
.import/
.export/
*.translation
*.mono
.mono/

# Godot cache
.godot/

# OS / Editor
.DS_Store
Thumbs.db

# Build
bin/
export/

# C# (se usi Godot .NET)
.vscode/
.idea/
*.user
*.suo
*.csproj
*.sln
